In [25]:
'''
This is the code used for the 
demographic recommender system
'''
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd 
users = pd.read_csv("users.csv")
ratings = pd.read_csv("ratings.csv")
movies = pd.read_csv("movies.csv")
ratings2 = pd.merge(movies, ratings, on = 'movieId')
information = pd.merge(ratings2, users, on='userId')
links = pd.read_csv("links.csv")

def age_occupation(age,occupation):
    user_demo = information.loc[(information.Occupation == occupation)&(information.rating >= 2.5)&(information.Age == age)]
    movie_data = pd.merge(ratings, movies, on='movieId')  
    #movie_data.groupby('title')['rating'].mean().sort_values(ascending=False)
    ratings_mean_count = pd.DataFrame(movie_data.groupby('movieId')['rating'].mean())  
    #movie_data = movie_data.groupby('title')['rating'].mean()
    #ratings_mean_count = pd.DataFrame(movie_data)
    ratings_mean_count['rating_counts'] = pd.DataFrame(movie_data.groupby('movieId')['rating'].count())  
    user_avg_rating = pd.DataFrame(user_demo.groupby('movieId')['rating'].mean())
    user_avg_rating['count_ratings'] = user_demo.groupby('movieId')['rating'].count()
    hundred_most_voted = user_avg_rating.sort_values('count_ratings', ascending=False).head(50)
    top_10 = hundred_most_voted.sort_values('rating', ascending=False).head(10)
    sim = pd.merge(top_10, links, on='movieId')
    sim = pd.merge(sim, movies, on='movieId')
    sim = sim.values
    return sim

user1 = age_occupation('Under18', 'K-12student')
#user2 = age_occupation('45-49','scientist')
rec_movies = age_occupation('25-34', 'academic/educator')
movies = []
for mov in rec_movies:
    movies.append(int(mov[4]))
movies

[197, 680, 603, 278, 13, 78, 272, 134, 1892, 857]

In [5]:

def age_gender(age,gender):
    user_demo = information.loc[(information.Gender == gender)&(information.rating >= 2)&(information.Age == age)]
    movie_data = pd.merge(ratings, movies, on='movieId')  
    movie_data.groupby('title')['rating'].mean().sort_values(ascending=False)
    ratings_mean_count = pd.DataFrame(movie_data.groupby('movieId')['rating'].mean())  
    ratings_mean_count['rating_counts'] = pd.DataFrame(movie_data.groupby('movieId')['rating'].count())  
    user_avg_rating = pd.DataFrame(user_demo.groupby('movieId')['rating'].mean())
    user_avg_rating['count_ratings'] = user_demo.groupby('movieId')['rating'].count()
    hundred_most_voted  = user_avg_rating.sort_values('count_ratings', ascending=False).head(50)
    top_10 = hundred_most_voted.sort_values('rating', ascending=False).head(20)
    return top_10

merging = []
#Get 3 sample users
user1 = age_gender('25-34', 'F')
user2 = age_gender('25-34', 'M')
user3 = age_gender('45-49', 'M')

merging = []

user1 = user1.index.values.tolist()
user2 = user2.index.values.tolist()
user3= user3.index.values.tolist()
#merge the 3 users movie recommendations
merging.extend(user1)
merging.extend(user2)
merging.extend(user3)


from collections import Counter

c= Counter()

for ele in merging:
    c[ele] +=1

#get most common
a = Counter(merging).most_common(10)
b = a[:1]
type(a)

all_mov= [word for word, word_count in Counter(merging).most_common(10)]
all_mov

[318, 50, 260, 1198, 110, 296, 4993, 2959, 1196, 858]

In [104]:

def age_gender(age,gender):
    user_demo = information.loc[(information.Gender == gender)&(information.rating >= 2)&(information.Age == age)]
    movie_data = pd.merge(ratings, movies, on='movieId')  
    movie_data.groupby('title')['rating'].mean().sort_values(ascending=False)
    ratings_mean_count = pd.DataFrame(movie_data.groupby('title')['rating'].mean())  
    ratings_mean_count['rating_counts'] = pd.DataFrame(movie_data.groupby('title')['rating'].count())  
    user_avg_rating = pd.DataFrame(user_demo.groupby('title')['rating'].mean())
    user_avg_rating['count_ratings'] = user_demo.groupby('title')['rating'].count()
    hundred_most_voted = user_avg_rating.sort_values('count_ratings', ascending=False).head(50)
    top_10 = hundred_most_voted.sort_values('rating', ascending=False).head(20)
    return top_10

merging = []
#Get 3 sample users
user1 = age_gender('25-34', 'F')
user2 = age_gender('25-34', 'M')
user3 = age_gender('45-49', 'M')

merging = []

user1 = user1.index.values.tolist()
user2 = user2.index.values.tolist()
user3= user3.index.values.tolist()
#merge the 3 users movie recommendations
merging.extend(user1)
merging.extend(user2)
merging.extend(user3)


from collections import Counter

c= Counter()

for ele in merging:
    c[ele] +=1

#get most common
a = Counter(merging).most_common(10)
b = a[:1]
type(a)

all_mov= [word for word, word_count in Counter(merging).most_common(10)]
all_mov
a

[('Shawshank Redemption, The (1994)', 3),
 ('Usual Suspects, The (1995)', 3),
 ('Star Wars: Episode IV - A New Hope (1977)', 3),
 ('Braveheart (1995)', 3),
 ('Pulp Fiction (1994)', 3),
 ('Lord of the Rings: The Fellowship of the Ring, The (2001)', 3),
 ('Fight Club (1999)', 3),
 ('Star Wars: Episode V - The Empire Strikes Back (1980)', 2),
 ('Godfather, The (1972)', 2),
 ('Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
  2)]

In [73]:
def group_rec(age,gender):
    users = pd.read_csv("data/users.csv")
    ratings = pd.read_csv("data/ratings.csv")
    movies = pd.read_csv("data/movies.csv")
    ratings2 = pd.merge(movies, ratings, on = 'movieId')
    information = pd.merge(ratings2, users, on='userId')
    user_demo = information.loc[(information.Gender == gender)&(information.rating >= 2.5)&(information.Age == age)]
    movie_data = pd.merge(ratings, movies, on='movieId')
    movie_data.groupby('title')['rating'].mean().sort_values(ascending=False)
    ratings_mean_count = pd.DataFrame(movie_data.groupby('movieId')['rating'].mean())
    ratings_mean_count['rating_counts'] = pd.DataFrame(movie_data.groupby('movieId')['rating'].count())
    user_avg_rating = pd.DataFrame(user_demo.groupby('movieId')['rating'].mean())
    user_avg_rating['count_ratings'] = user_demo.groupby('movieId')['rating'].count()
    hundred_most_voted = user_avg_rating.sort_values('count_ratings', ascending=False).head(50)
    top_10 = hundred_most_voted.sort_values('rating', ascending=False).head(20)
    return top_10

In [125]:
def user_age(age):
    user_demo = information.loc[(information.rating >= 3)&(information.Age == age)]
    movie_data = pd.merge(ratings, movies, on='movieId')  
    movie_data.groupby('title')['rating'].mean().sort_values(ascending=False)
    ratings_mean_count = pd.DataFrame(movie_data.groupby('title')['rating'].mean())  
    ratings_mean_count['rating_counts'] = pd.DataFrame(movie_data.groupby('title')['rating'].count())  
    user_avg_rating = pd.DataFrame(user_demo.groupby('title')['rating'].mean())
    user_avg_rating['count_ratings'] = user_demo.groupby('title')['rating'].count()
    hundred_most_voted = user_avg_rating.sort_values('count_ratings', ascending=False).head(50)
    top_10 = hundred_most_voted.sort_values('rating', ascending=False).head(10)
    return top_10

user_age('35-44')

                                                      rating  count_ratings
title
Godfather, The (1972)                               4.550000             40
Shawshank Redemption, The (1994)                    4.468254             63
Fight Club (1999)                                   4.465116             43
Matrix, The (1999)                                  4.447368             57
Dark Knight, The (2008)                             4.446429             28
Raiders of the Lost Ark (Indiana Jones and the ...  4.400000             40
Godfather: Part II, The (1974)                      4.392857             28
Pulp Fiction (1994)                                 4.385965             57
Star Wars: Episode IV - A New Hope (1977)           4.367925             53
Schindler's List (1993)                             4.364865             37

In [128]:
def age_occupation(gender,occupation):
    user_demo = information.loc[(information.Occupation == occupation)&(information.rating >= 3)&(information.Gender == gender)]
    movie_data = pd.merge(ratings, movies, on='movieId')  
    movie_data.groupby('title')['rating'].mean().sort_values(ascending=False)
    ratings_mean_count = pd.DataFrame(movie_data.groupby('title')['rating'].mean())  
    ratings_mean_count['rating_counts'] = pd.DataFrame(movie_data.groupby('title')['rating'].count())  
    user_avg_rating = pd.DataFrame(user_demo.groupby('title')['rating'].mean())
    user_avg_rating['count_ratings'] = user_demo.groupby('title')['rating'].count()
    hundred_most_voted = user_avg_rating.sort_values('count_ratings', ascending=False).head(50)
    top_10 = hundred_most_voted.sort_values('rating', ascending=False).head(10)
    return top_10
male_writer = age_occupation('M','writer')

male_writer

                                    rating  count_ratings
title
Requiem for a Dream (2000)        4.700000              5
American Beauty (1999)            4.583333              6
Dark Knight, The (2008)           4.583333              6
Silence of the Lambs, The (1991)  4.562500              8
Forrest Gump (1994)               4.500000             12
Little Miss Sunshine (2006)       4.500000              4
Full Metal Jacket (1987)          4.500000              4
Seven (a.k.a. Se7en) (1995)       4.500000              7
Pulp Fiction (1994)               4.458333             12
Fight Club (1999)                 4.428571              7

In [126]:
user1 = information.loc[information.userId==1]
user2 = information.loc[information.userId==56]

#user1 = user1.groupby('title')['rating'].value()
user1.sort_values(by=['rating'], ascending=False)

,movieId,title,genres,userId,rating,Gender,Age,Occupation
231,5060,M*A*S*H (a.k.a. MASH) (1970),Comedy|Drama|War,1,5.0,F,Under18,K-12student
185,2872,Excalibur (1981),Adventure|Fantasy,1,5.0,F,Under18,K-12student
89,1291,Indiana Jones and the Last Crusade (1989),Action|Adventure,1,5.0,F,Under18,K-12student
90,1298,Pink Floyd: The Wall (1982),Drama|Musical,1,5.0,F,Under18,K-12student
190,2948,From Russia with Love (1963),Action|Adventure|Thriller,1,5.0,F,Under18,K-12student
189,2947,Goldfinger (1964),Action|Adventure|Thriller,1,5.0,F,Under18,K-12student
188,2944,"Dirty Dozen, The (1967)",Action|Drama|War,1,5.0,F,Under18,K-12student
186,2899,Gulliver's Travels (1939),Adventure|Animation|Children,1,5.0,F,Under18,K-12student
184,2858,American Beauty (1999),Drama|Romance,1,5.0,F,Under18,K-12student
179,2700,"South Park: Bigger, Longer and Uncut (1999)",Animation|Comedy|Musical,1,5.0,F,Under18,K-12student
98,1517,Austin Powers: International Man of Mystery (1...,Action|Adventure|Comedy,1,5.0,F,Under18,K-12student
100,1573,Face/Off (1997),Action|Crime|Drama|Thriller,1,5.0,F,Under18,K-12student
102,1587,Conan the Barbarian (1982),Action|Adventure|Fantasy,1,5.0,F,Under18,K-12student
103,1617,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller,1,5.0,F,Under18,K-12student
181,2761,"Iron Giant, The (1999)",Adventure|Animation|Children|Drama|Sci-Fi,1,5.0,F,Under18,K-12student
105,1625,"Game, The (1997)",Drama|Mystery|Thriller,1,5.0,F,Under18,K-12student
88,1282,Fantasia (1940),Animation|Children|Fantasy|Musical,1,5.0,F,Under18,K-12student
87,1278,Young Frankenstein (1974),Comedy|Fantasy,1,5.0,F,Under18,K-12student
86,1275,Highlander (1986),Action|Adventure|Fantasy,1,5.0,F,Under18,K-12student
85,1270,Back to the Future (1985),Adventure|Comedy|Sci-Fi,1,5.0,F,Under18,K-12student
191,2949,Dr. No (1962),Action|Adventure|Thriller,1,5.0,F,Under18,K-12student
192,2959,Fight Club (1999),Action|Crime|Drama|Thriller,1,5.0,F,Under18,K-12student
82,1256,Duck Soup (1933),Comedy|Musical|War,1,5.0,F,Under18,K-12student
81,1240,"Terminator, The (1984)",Action|Sci-Fi|Thriller,1,5.0,F,Under18,K-12student
80,1226,"Quiet Man, The (1952)",Drama|Romance,1,5.0,F,Under18,K-12student
79,1224,Henry V (1989),Action|Drama|Romance|War,1,5.0,F,Under18,K-12student
78,1222,Full Metal Jacket (1987),Drama|War,1,5.0,F,Under18,K-12student
77,1220,"Blues Brothers, The (1980)",Action|Comedy|Musical,1,5.0,F,Under18,K-12student
151,2387,Very Bad Things (1998),Comedy|Crime,1,5.0,F,Under18,K-12student
74,1213,Goodfellas (1990),Crime|Drama,1,5.0,F,Under18,K-12student
...,...,...,...,...,...,...,...,...
12,223,Clerks (1994),Comedy,1,3.0,F,Under18,K-12student
16,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1,3.0,F,Under18,K-12student
23,423,Blown Away (1994),Action|Thriller,1,3.0,F,Under18,K-12student
5,70,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller,1,3.0,F,Under18,K-12student
37,648,Mission: Impossible (1996),Action|Adventure|Mystery|Thriller,1,3.0,F,Under18,K-12student
39,673,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...,1,3.0,F,Under18,K-12student
83,1258,"Shining, The (1980)",Horror,1,3.0,F,Under18,K-12student
41,736,Twister (1996),Action|Adventure|Romance|Thriller,1,3.0,F,Under18,K-12student
94,1408,"Last of the Mohicans, The (1992)",Action|Romance|War|Western,1,3.0,F,Under18,K-12student
155,2414,Young Sherlock Holmes (1985),Action|Adventure|Children|Fantasy|Mystery|Thri...,1,3.0,F,Under18,K-12student
163,2528,Logan's Run (1976),Action|Adventure|Sci-Fi,1,3.0,F,Under18,K-12student
129,2093,Return to Oz (1985),Adventure|Children|Fantasy,1,3.0,F,Under18,K-12student
177,2657,"Rocky Horror Picture Show, The (1975)",Comedy|Horror|Musical|Sci-Fi,1,3.0,F,Under18,K-12student
107,1676,Starship Troopers (1997),Action|Sci-Fi,1,3.0,F,Under18,K-12student
106,1644,I Know What You Did Last Summer (1997),Horror|Mystery|Thriller,1,3.0,F,Under18,K-12student
101,1580,Men in Black (a.k.a. MIB) (1997),Action|Comedy|Sci-Fi,1,3.0,F,Under18,K-12student
207,3247,Sister Act (1992),Comedy|Crime,1,3.0,F,Under18,K-12student
95,1445,McHale's Navy (1997),Comedy|War,1,3.0,F,Under18,K-12student
93,1396,Sneakers (1992),Action|Comedy|Crime|Drama|Sci-Fi,1,3.0,F,Under18,K-12student
92,1377,Batman Returns (1992),Action|Crime,1,3.0,F,Under18,K-12student
54,1030,Pete's Dragon (1977),Adventure|Animation|Children|Musical,1,3.0,F,Under18,K-12student
49,1009,Escape to Witch Mountain (1975),Adventure|Children|Fantasy,1,3.0,F,Under18,K-12student
42,780,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller,1,3.0,F,Under18,K-12student
206,3243,Encino Man (1992),Comedy,1,3.0,F,Under18,K-12student
76,1219,Psycho (1960),Crime|Horror,1,2.0,F,Under18,K-12student
170,2617,"Mummy, The (1999)",Action|Adventure|Comedy|Fantasy|Horror|Thriller,1,2.0,F,Under18,K-12student
143,2253,Toys (1992),Comedy|Fantasy,1,2.0,F,Under18,K-12student
148,2338,I Still Know What You Did Last Summer (1998),Horror|Mystery|Thriller,1,2.0,F,Under18,K-12student
152,2389,Psycho (1998),Crime|Horror|Thriller,1,2.0,F,Under18,K-12student
205,3176,"Talented Mr. Ripley, The (1999)",Drama|Mystery|Thriller,1,1.0,F,Under18,K-12student

In [127]:
#user2.sort_values(by=['rating'], ascending=False)